function Lapin(adjectif){
    this.adjectif = adjectif;
    this.decrisToi = function(){
        console.log("Je suis un"+ this.adjectif + "Lapin");
    };
}

//Maintenant , nous pouvons créer facilement tout nos Lapinous ^^
